amqp==5.1.0
anyjson==0.3.3
asgiref==3.5.0
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudant==2.15.0
colorama==0.4.4
couchdbkit==0.4.2
couchexport==0.0.2
couchforms==3.0.2
cryptography==3.4.6
defusedxml==0.7.1
Deprecated==1.2.13
dimagi-utils==1.2.3.2
Django==3.1.7
django-allauth==0.44.0
django-celery-results==2.4.0
django-ckeditor==6.0.0
django-crontab==0.7.1
django-devserver==0.8.0
django-js-asset==1.2.2
django-redis==4.2.0
django-seed==0.2.2
django-soil==0.9.0
et-xmlfile==1.1.0
Faker==6.6.1
http-parser==0.9.0
idna==2.10
importlib-metadata==4.11.3
jsonobject==1.0.0
jsonobject-couchdbkit==1.0.1
kombu==5.2.4
linecache2==1.0.0
lxml==4.8.0
mock==4.0.3
msgpack-python==0.5.6
mysqlclient==2.0.3
oauthlib==3.1.0
openpyxl==3.0.9
packaging==21.3
Pillow==8.1.2
prompt-toolkit==3.0.28
pycparser==2.20
PyJWT==2.0.1
pyparsing==3.0.7
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2021.3
receiver==1.0.0
redis==4.1.4
requests==2.25.1
requests-oauthlib==1.3.0
restkit==4.2.2
simplejson==3.17.6
six==1.15.0
socketpool==0.5.3
sqlparse==0.4.1
text-unidecode==1.3
traceback2==1.4.0
typing-extensions==4.1.1
unittest2==1.1.0
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.0
xlwt==1.3.0
zipp==3.7.0
