{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
.board-name {
    display: inline-block;
    {% if board.name_background_color %}background: {{ board.name_background_color }};{% endif %}
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    {% if board.name_text_color %}color: {{ board.name_text_color }};{% endif %}
}
.board-info {
    {% if board.info_background_color %}background: {{ board.info_background_color }};{% endif %}
    padding: 10px;
    border-radius: 10px;
    {% if board.info_text_color %}color: {{ board.info_text_color }};{% endif %}
}
.card_img{
    background-repeat:no-repeat;
    background-position-y:center;
    background-size:contain;
}
.truncate-3 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
</style>
{% endblock %}

{% block title %}{% if board %}{{ board.name }} 게시판{% elif tag_board %}{{tag_board.tag_name}} 태그{% else %}{{ request.GET.search }}{% endif %}{% endblock %}
{% block og_title %}{% if board %}{{ board.name }} 게시판{% elif tag_board %}{{tag_board.tag_name}} 태그{% else %}{{ request.GET.search }}{% endif %}{% endblock %}
{% block description %}{% if board %}{{board.info|striptags}}{% elif tag_board %}{{tag_board.tag_name}} 태그{% else %}{{ request.GET.search }}{% endif %}{% endblock %}
{% block current_url %}https://nulls.co.kr{{ request.get_full_path }}{% endblock %}
{% block img %}{% if board %}{% if board.board_img %}https://nulls.co.kr{{ board.board_img.url }}{% else %}https://nulls.co.kr/static/logo.ico{% endif %}{% else %}{{ request.GET.search }}{% endif %}{% endblock %}

{% block top %}
<!-- 게시판 소개 및 이미지 -->
{% if board %}
    {% if board.board_img %}
    <div class="p-4 p-md-5 mb-3 rounded" style="background-image:url({{board.board_img.url}});background-size:cover;background-position:center center;">
    {% else %}
        <div class="p-4 p-md-5 mb-3 rounded">
    {% endif %}
{% else %}
    <div class="p-4 p-md-5 mb-3 rounded">
{% endif %}
    <div class="col-md-8 px-0">
        <h3 class="display-4 board-name">{{board.name}}</h3>
        <p class="lead my-3 board-info">{{board.info}}</p>
    </div>
    {% if tag_board %}
    <div class="col-md-8 px-0">
        <h3 class="display-4 font-monospace">#{{tag_board.tag_name}}</h3>
        <p class="lead my-3 font-monospace">WHAT WE TAGS {{tag_board.tag_name}} LIST</p>
    </div>
    {% endif %}
    {% if not tag_board and not board %}
    <div class="col-md-8 px-0">
        <h3 class="display-4 font-monospace">{{ request.GET.search }}</h3>
        <p class="lead my-3 font-monospace">WHAT WE FOUND "{{ request.GET.search }}" LIST</p>
    </div>
    {% endif %}
</div>
<!-- 글 목록 -->
<div class="row g-2 mb-4">
    {% for post in posts %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a class="text-decoration-none text-dark" href="{% url 'board:post' post.board.url post.pk %}">
            <div class="card">
                <div class="row g-0">
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title" style="white-space:nowrap;overflow: hidden;text-overflow:ellipsis;">{{post.title}}</h5>
                            <p class="card-text truncate-3">{{post.short_body|striptags}}</p>
                            <div class="card-text"><small class="text-muted"><i class="bi bi-person-circle"></i> {{post.author.nickname}}</small></div>
                            <div class="card-text"><small class="text-muted"><i class="bi bi-calendar-week"></i> {{post.created_at|date:"Y-m-d"}}</small></div>
                            <div>
                                <i class="bi bi-heart text-danger"></i></i> {{post.like_count}} <i class="bi bi-chat-right-text"></i> {{post.reply_count}}
                            </div>
                        </div>
                    </div>
                    {% if post.post_img %}
                    <div class="col-lg-4 card_img d-none d-lg-block rounded" style="background-image:url({{post.post_img.url}});">
                    {% else %}
                    <div class="col-lg-4 card_img d-none d-lg-block rounded" style="background-image:url({% static 'logo.ico' %});">
                    {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<!-- 검색 하기 -->
<form class="d-flex mb-3" style="justify-content: flex-end;" method="get" action="">
    <input class="me-2" type="text" value="{{ request.GET.search }}" name="search" placeholder="검색어를 입력하세요." />
    <button class="btn btn-sm btn-primary" type="submit">검색</button>
</form>

<!-- 페이지 네이션 -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {%if posts.has_previous%}
        <li class="page-item">
            {% if request.GET.search %}
                <a class="page-link" href="?page=1&search={{ request.GET.search }}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% endif %}
        </li>

        <li class="page-item">
            {% if request.GET.search %}
                <a class="page-link" href="?page={{posts.previous_page_number}}&search={{ request.GET.search }}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            {% else %}
                <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            {% endif %}
        </li>
        {%endif%}

        {% for i in page_range %}
            {% if i == posts.number %}
                {% if request.GET.search %}
                    <li class="page-item active"><a class="page-link" href="?page={{i}}&search={{ request.GET.search }}">{{i}}</a></li>
                {% else %}
                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% else %}
                {% if "search=" in request.get_full_path %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}&search={{ request.GET.search }}">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {%if posts.has_next%}
        <li class="page-item">
        {% if request.GET.search %}
            <a class="page-link" href="?page={{posts.next_page_number}}&search={{ request.GET.search }}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        {% else %}
            <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        {% endif %}
        </li>

        <li class="page-item">
        {% if request.GET.search %}
            <a class="page-link" href="?page={{posts.paginator.num_pages}}&search={{ request.GET.search }}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        {% else %}
            <a class="page-link" href="?page={{posts.paginator.num_pages}}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        {% endif %}
        </li>
        {%endif%}
    </ul>
</nav>
{% endblock %}
