{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
.card {
    height: 100%;
}

.card_img{
    background-repeat:no-repeat;
    background-position-y:center;
    background-size:contain;
}

.truncate-3 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.truncate-3-with-out-overflow {
    font-size: 15px;
    white-space: break-spaces;
}

.truncate-5 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
</style>
{% endblock %}

{% block title %}메인페이지{% endblock %}
{% block og_title %}메인페이지{% endblock %}
{% block description %}천방지축 NULL이 잡다한 IT 자료를 올리는 블로그{% endblock %}
{% block current_url %}https://nulls.co.kr{{ request.get_full_path }}{% endblock %}
{% block img %}https://nulls.co.kr/static/logo.ico{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('#lesson_detail').on('click', function() {
            if ($(this).parent().parent().find('p').hasClass('truncate-3')) {
                $(this).parent().parent().find('p').removeClass('truncate-3');
                $(this).parent().parent().find('p').addClass('truncate-3-with-out-overflow');
                $(this).text('접기');
            } else {
                $(this).parent().parent().find('p').removeClass('truncate-3-with-out-overflow');
                $(this).parent().parent().find('p').addClass('truncate-3');
                $(this).text('자세히보기');
            }
        });
    });
</script>
{% endblock %}

{% block lesson %}
{% if lesson %}
    <h5 class="rounded-top border border-dark bg-light p-2">오늘의 교훈</h5>
    <div class="col-12">
    <div class="card">
        <div class="row g-0">
            <div class="col-12">
                <div class="card-body">
                    <h5 class="card-title">{{ lesson.summary }}</h5>
                    <p class="card-text truncate-3">{{ lesson.body }}</p>
                    <div class="card-text text-center">
                        <span id="lesson_detail" style="cursor: pointer;">자세히보기</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endif %}
{% endblock %}

{% block top %}
<!-- 최근 포스트 -->
<h5 class="rounded-top border border-dark bg-light p-2">✏ 최근 포스트</h5>
<div class="row g-2">
    {% for post in recent_post_set %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a class="text-decoration-none text-dark" href="{% url 'board:post' post.board.url post.pk %}">
        <div class="card">
            <div class="row g-0">
                <div class="col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{post.title}}</h5>
                        <p class="card-text truncate-3">{{post.short_body|striptags}}</p>
                        <p class="card-text"><small class="text-muted"><i class="bi bi-calendar-week"></i> {{post.created_at|date:"Y-m-d"}}</small></p>
                    </div>
                </div>
                {% if post.post_img %}
                <div class="col-lg-4 card_img d-none d-lg-block rounded" style="background-image:url({{post.post_img.url}});"></div>
                {% else %}
                <div class="col-lg-4 card_img d-none d-lg-block rounded" style="background-image:url({% static 'logo.ico' %});"></div>
                {% endif %}
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block middle_left %}
<!-- 좋아요 순 포스트 -->
<h5 class="rounded-top border border-dark bg-light p-2">💌 좋아요 많은 게시글</h5>
{% for post in liked_ordered_post_set %}
<a class="text-decoration-none text-dark" href="{% url 'board:post' post.board.url post.pk %}">
    <div class="p-3 mb-3 border rounded">
        <h5>{{post.title}}</h5>
        <hr style="margin:5px;">
        <div class="text-break truncate-5 mb-2 overflow-hidden">
            {{post.body|safe}}
        </div>
        <div class="text-secondary mb-2">
            <i class="bi bi-person-circle"></i> {{post.author.nickname}} <i class="bi bi-calendar-week"></i> {{post.created_at|date:'Y-m-d'}}
        </div>
        <div>
            <i class="bi bi-heart text-danger"></i></i> {{post.like_count}} <i class="bi bi-chat-right-text"></i> {{post.reply_count}}
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}

{% block middle_right %}
<!-- 검색 하기 -->
<form class="d-flex mb-3" style="justify-content: flex-end;" method="get" action="{% url 'board:board' 'search' %}">
    <input class="me-2" type="text" value="{{ request.GET.search }}" name="search" placeholder="검색어를 입력하세요." />
    <button class="btn btn-sm btn-primary" type="submit">검색</button>
</form>

<!-- 소개 -->
<div class="p-4 bg-light rounded my-2">
    <h5>About NULL BLOG</h5>
    <div>NULL의 개인 블로그 입니다~! 개인 일상/프로젝트/자료 등 잡다한 내용이 담길 블로그 입니다! 잘 부탁드립니다~!</div>
</div>

<!-- Announce -->
<div>
    {% for announce in announce_set %}
    <div class="toast shadow-sm show mb-2" style="width: 100%;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header" style="justify-content: space-between;">
            <div class="text-truncate">
                <strong class="me-auto fs-xs"><i class="bi bi-exclamation-diamond-fill text-warning"></i> {{announce.title}}</strong>
            </div>
            <small style="flex-shrink: 0;" class="text-muted">{{announce.created_at|date:'Y-m-d'}}</small>
        </div>
        <div class="toast-body fs-xs">
            {{announce.body}}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Tags -->
<div class="py-2">
    <h5>TAGS</h5>
    <div class="d-flex flex-wrap">
        {% for tags in tag_set %}
            <a href="{% url 'board:board' '_'|add:tags.tag_name %}" class="badge bg-primary m-1 text-decoration-none text-white">{{tags.tag_name}} <span class="badge rounded-pill bg-light text-primary">{{tags.post_set.count}}</span></a>
        {% endfor %}
    </div>
</div>
{% endblock %}
