{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
</style>
{% endblock %}

{% block title %}회원가입{% endblock %}
{% block og_title %}회원가입{% endblock %}
{% block description %}NULL's 회원가입{% endblock %}
{% block current_url %}https://nulls.co.kr{{ request.get_full_path }}{% endblock %}
{% block img %}https://nulls.co.kr/static/logo.ico{% endblock %}

{% block top %}
<div class="container my-5">
    <div class="container">
        <h3 class="text-center">회원가입</h3>
        <form class="d-grid gap-2" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{sign_up_form.as_p}}
            <input class="btn" type="submit" style="background-color: rgb(136, 192, 238);background-size:30px auto;" value="가입하기"/>
        </form>
    </div>
</div>
{% endblock %}