{% load static %}
{% load humanize %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="naver-site-verification" content="7ab48293d8431cc21e2ec16e58ce26eb8fa7cef4"/>
    <meta name="google-site-verification" content="f7grvP79BrUOnm0z2ZofsleWCF7mHLDNFLEdwr6lFG0"/>
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:title" content="{% block og_title %}{% endblock %}"/>
    <meta property="og:description" content="{% block description %}{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% block current_url %}{% endblock %}"/>
    <meta property="og:image" content="{% block img %}{% endblock %}"/>
    <link rel="icon" href="{% static 'logo.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
            integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
            crossorigin="anonymous"></script>
    <!-- ajax -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
            integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1987584597836949"
            crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVB1G38F8L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-BVB1G38F8L');
    </script>
    <script type="text/javascript" src="{% static 'notification.js' %}"></script>
    <script type="text/javascript" src="{% static 'base.js' %}"></script>
    <script>
        {% if user.is_authenticated %}
        $(document).ready(function () {
            const notice_dropdown = document.getElementById('notice');
            notice_dropdown.addEventListener('show.bs.dropdown', function () {
                get_notification_ajax();
            });
        });
        {% endif %}

        onLoginRequire = () => {
            $('#login_message').removeClass('alert-danger');
            $('#login_message').addClass('alert-secondary');
            $('#login_message').html('로그인 해주세요!');
        };

        onLoginSuccess = () => {
            $('#login_message').removeClass('alert-secondary');
            $('#login_message').removeClass('alert-danger');
            $('#login_message').addClass('alert-success');
            $('#login_message').html('로그인 중 ...');
        };

        onLoginFail = (msg) => {
            $('#login_message').removeClass('alert-secondary');
            $('#login_message').addClass('alert-danger');
            $('#login_message').html(msg);
        };

        ajaxLogin = (e) => {
            e.preventDefault();

            const request = $.ajax({
                method: 'POST',
                url: "{% url 'accounts:login' %}",
                async: false,
                data: $('.login-form').serialize()
            });
            request.done(function (data) {
                onLoginSuccess();
                $(location).attr('href', location.origin);
            });
            request.fail(function (data, textStatus, errorThrown) {
                onLoginFail(data.responseJSON.error);
            });
        };

        $(function () {
            $('.login-form').on('submit', function (e) {
                ajaxLogin(e);
            });

            $('.login-form input').on('propertychange change keyup paste ', function (e) {
                if (e.keyCode !== 13) {
                    onLoginRequire();
                }
            });

            $('#logo').click(function (e) {
                $(location).attr('href', location.origin);
            });
        });
    </script>
    {% block script %}
    {% endblock %}

    <style>
        @font-face {
            font-family: 'NotoSansKR-Regular';
            src: url("{% static 'fonts/NotoSansKR-Regular.otf' %}");
        }

        body {
          font-family: 'NotoSansKR-Regular', sans-serif !important;
        }

        .nav-container {
            display: flex;
            overflow-x: scroll;
            align-items: center;
        }

        .nav-container::-webkit-scrollbar{
            height: 5px;
        }

        .nav-container::-webkit-scrollbar-thumb{
            background-color: rgb(2, 10, 10);
            border-radius: 10px;
        }

        .nav-container::-webkit-scrollbar-track{
            background-color: rgba(1, 6, 6, 0.33);
            border-radius: 10px;
        }

        .nav-link {
            color: black;
        }

        .nav-link:hover {
            color: rgba(0, 0, 0, 0.22);
        }

        .board-group {
            cursor: pointer;
            white-space: nowrap;
        }

        .board-group:hover {
            color: rgba(0, 0, 0, 0.22);
        }

        #from_board_group {
            display: none;
            overflow-x: scroll;
        }

        #from_board_group::-webkit-scrollbar{
            height: 5px;
        }

        #from_board_group::-webkit-scrollbar-thumb{
            background-color: rgb(2, 10, 10);
            border-radius: 10px;
        }

        #from_board_group::-webkit-scrollbar-track{
            background-color: rgba(1, 6, 6, 0.33);
            border-radius: 10px;
        }

        #logo:hover {
            cursor: pointer;
        }

        .fs-xs {
            font-size: x-small;
        }

        #notifications.dropdown-menu{
            transform: translate3d(-250px, 35px, 0px)!important;
        }
    </style>

    {% block style %}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center py-2 border-bottom">
        <div class="col-8 fs-3 fw-bolder">
            <span id="logo">NULL's BLOG</span>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <!-- Button trigger modal -->
            {% if user.is_authenticated %}
                <div class="text-right">
                    <div id="notification_dropdown" style="margin:10px" class="dropdown">
                        <span style="cursor: pointer;" id="notice" data-bs-toggle="dropdown" aria-expanded="false">
                            <button type="button" class="btn btn-sm position-relative me-1"
                                    style="background: rgba(51, 170, 51,  0)">
                                <svg style="width: 1.5em; height: 1.5em; transition: 1s;"
                                     xmlns="http://www.w3.org/2000/svg"
                                     enable-background="new 0 0 512 512" viewBox="0 0 512 512">
                                    <path d="m460.357 344.286h-15c-29.697 0-53.857-24.16-53.857-53.857v-120.542c0-50.626-37.431-92.67-86.071-99.92v-20.538c-.001-27.255-22.174-49.429-49.429-49.429s-49.429 22.174-49.429 49.429v20.538c-48.64 7.25-86.071 49.294-86.071 99.92v120.542c0 29.697-24.16 53.857-53.857 53.857h-15v98.856h154.928v19.429c0 27.255 22.174 49.429 49.429 49.429s49.429-22.174 49.429-49.429v-19.429h154.929v-98.856zm-204.357-314.286c10.713 0 19.429 8.716 19.429 19.429v19.429h-38.857v-19.429c-.001-10.713 8.715-19.429 19.428-19.429zm-105.5 260.429v-120.542c0-39.166 31.864-71.029 71.03-71.029h68.941c39.166 0 71.029 31.863 71.029 71.029v120.542c0 20.489 7.397 39.277 19.647 53.857h-250.294c12.25-14.581 19.647-33.368 19.647-53.857zm124.928 172.142c0 10.713-8.716 19.429-19.429 19.429s-19.429-8.716-19.429-19.429v-19.429h38.857v19.429zm154.929-49.428h-348.714v-38.856h348.714z"/>
                                </svg>
                                {% if user.has_notifications %}
                                    <span class="position-absolute top-0 start-90 translate-middle p-2 bg-danger border border-light rounded-circle">
                                {% endif %}
                                </span>
                            </button>
                        </span>
                        <div style="width:300px; background-color: #FFFFFF; border-radius: 10px 0px 10px 10px;"
                             class="dropdown-menu dropdown-menu-right p-1" aria-labelledby="notice" id="notifications">
                        </div>
                    </div>
                </div>
                <a href="{% url 'accounts:logout' %}" style="word-break: keep-all;"
                   class="btn btn-sm btn-light">로그아웃</a>
            {% else %}
                <button type="button" style="word-break: keep-all;" class="btn btn-sm btn-light me-1 mt-0"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    로그인
                </button>
                <a href="{% url 'accounts:signup' %}" style="word-break: keep-all;"
                   class="btn btn-sm btn-light">회원가입</a>
            {% endif %}
        </div>
    </div>
    <nav class="mb-2">
        <div class="nav-container">
        {% for board in nav_board %}
            <a style="white-space: nowrap;" class="nav-link" href="{% url 'board:board' board.url %}">{{ board.name }}</a>
        {% endfor %}
        {% for group in nav_group %}
            <div class="nav-link board-group" onclick="get_board_set_from_board_group({{ group.id }})">{{ group.group_name }}▼</div>
        {% endfor %}
        </div>
        <div class="mb-2" id="from_board_group"></div>
    </nav>
    <div class="row">
        <div class="col-12 mb-3">{% block lesson %}{% endblock %}</div>
        <div class="col-12 mb-3">{% block top %}{% endblock %}</div>
        <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8 col-xxl-9">{% block middle_left %}{% endblock %}</div>
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 col-xxl-3">
            {% block middle_right %}{% endblock %}
            {% if request.path != '/accounts/signup' %}
                <div class="my-3 p-3 rounded border">
                    <div>
                        <span class="fw-bolder">Yesterday:</span> {{ visitor_info.yesterday|intcomma }}
                    </div>
                    <div>
                        <span class="fw-bolder">Today:</span> {{ visitor_info.today|intcomma }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% block full %}{% endblock %}
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <div class="text-muted fs-xs">Contact : cwadven4@gmail.com</div>
        <div class="text-muted fs-xs">GitHub : <a target="_blank" href="https://github.com/cwadven">https://github.com/cwadven</a>
        </div>
        <div class="text-muted fs-xs">© 2021 NULL's LIFE. All rights reserved</div>
    </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">로그인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="fw-bold mb-2">일반 로그인</div>
                    <form class="login-form" mehtod="POST" action="">
                        {% csrf_token %}
                        <input class="form-control mb-2" type="text" name="username" placeholder="아이디"/>
                        <input class="form-control mb-2" type="password" name="password" placeholder="비밀번호"/>
                        <div class="d-grid gap-2">
                            <input class="btn text-white" style="background-color: rgb(82, 121, 250);" type="submit"
                                   value="로그인"/>
                        </div>
                    </form>
                </div>
                <div id="login_message" class="alert alert-secondary text-center" role="alert">로그인 해주세요!</div>
                <div class="mb-3">
                    <div class="fw-bold mb-2">소셜 로그인</div>
                    <div class="d-grid gap-2">
                        <a href="{% provider_login_url 'google' %}" class="btn text-white"
                           style="background-color: rgb(255, 78, 55);background-size:30px auto;background-image:url('{% static 'google_icon.png' %}');background-repeat:no-repeat;background-position:15px center;">Google
                            로그인</a>
                        <a href="{% provider_login_url 'github' %}" class="btn text-white"
                           style="background-color: rgb(138, 138, 138);background-size:30px auto;background-image:url('{% static 'github_icon.png' %}');background-repeat:no-repeat;background-position:15px center;">Github
                            로그인</a>
                        <a href="{% provider_login_url 'kakao' %}" class="btn"
                           style="background-color: rgb(248, 198, 80);background-size:30px auto;background-image:url('{% static 'kakao_icon.png' %}');background-repeat:no-repeat;background-position:15px center;">KaKao
                            로그인</a>
                        <a href="{% provider_login_url 'naver' %}" class="btn"
                           style="background-color: rgb(88, 250, 59);background-size:30px auto;background-image:url('{% static 'naver_icon.png' %}');background-repeat:no-repeat;background-position:15px center;">Naver
                            로그인</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="fs-6">새로운 회원이신가요? <a href="{% url 'accounts:signup' %}">회원가입하기</a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
